@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poetsen+One&display=swap');

.hero-main {
    width: 100%;
    background-image: url('./assets/top-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --base-colour: #3d106c;
    --move-colour: #fff;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.button--toggle {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    clip-path: inset(0px, 0px, 0px, 0px);
    outline: none;
    padding: 3px;
    overflow: hidden;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000;
}

.button--toggled .animating {
    background-size: 100% 100%;
    background: linear-gradient(0deg,
            var(--base-colour) 40%,
            var(--move-colour) 50%,
            var(--base-colour) 60%);
    animation: rotation 1s linear infinite;
}

.button--toggled .innerAnimating {
    height: 150%;
    width: 50%;
    background: var(--base-colour);
}

.button--text {
    opacity: 1;
    z-index: 1;
    position: relative;
    display: flex;
    padding: 15px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.animating {
    border-radius: 5px;
    z-index: 0;
    height: 500%;
    width: 300%;
    display: flex;
    align-items: center;
    position: absolute;
}

.moving {
    z-index: 0;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    position: absolute;
    background-size: 400% 400%;
    background: linear-gradient(0deg,
            var(--base-colour) 40%,
            var(--move-colour) 50%,
            var(--base-colour) 60%);
    animation: rotation 0.5s ease-in-out infinite;
}

.inner {
    height: 190px;
    width: 190px;
    background: white;
    transform: none;
    position: relative;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    height: 200vh;
    display: flex;
    align-items: start;
    justify-content: center;
}


.section__wrapper-scroll-down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
    z-index: 50;
    transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.scroll-down {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 100px;
}

.scroll-down__circle--small {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #4c0b95;
    border-radius: 100%;
    transition: all 0.6s ease-in-out;
}

.scroll-down__line {
    width: 2px;
    height: 50px;
    background-color: #4c0b95;
    margin-top: 16px;
    margin-bottom: 16px;
    transform-origin: bottom center;
    transition: all 0.6s ease-in-out;
}

.scroll-down__circle--large {
    width: 32px;
    height: 32px;
    border: 1px solid #4c0b95;
    border-radius: 100%;
    transition: all 0.6s ease-in-out;
    position: relative;
}

/* Hover effect */
.scroll-down:hover .scroll-down__circle--small {
    transform: translateY(55px);
    /* Move small circle towards the large circle */
}

.scroll-down:hover .scroll-down__line {
    height: 0;
    /* Line disappears */
    opacity: 0;
}

.scroll-down:hover .scroll-down__circle--large {
    transform: scale(1.2);
    /* Slight enlargement for the large circle */
}

.work-experience {
    width: 100%;
}



.button--texts {
    opacity: 1;
    z-index: 1;
    position: relative;
    padding: 15px;
    color: #fff;
    background-color: #15032b;
    font-weight: bold;
}

.block {
    position: relative;
    background: linear-gradient(0deg, rgb(25, 2, 51), rgb(14, 1, 30));
}

.glow::before,
.glow::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: linear-gradient(45deg, #3d106c, #ffffff);
    z-index: -1;
    background-size: 200%;
    border-radius: 10px;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glow::after {
    filter: blur(10px);
}

.work-exp {
    background-image: url('./assets/section.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.projects-right {
    background-image: url('./assets/gradient.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.glossy {
    background: rgba(89, 30, 150, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(89, 30, 150, 0.71);
}